@model IEnumerable<Perpustakaan.Models.MasterJenisBuku>

<h2>Master Jenis Buku</h2>

<a class="btn btn-primary" href="/MasterJenisBuku/Create">Create</a>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Jenis Buku</th>
        <th>Aksi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.JenisBuku</td>
            <td>
                <a class="btn btn-primary" href="/MasterJenisBuku/Edit/@item.Id">Edit</a>
                <a class="btn btn-danger" href="/MasterJenisBuku/Delete/@item.Id" onclick="return confirm('Yakin hapus?')">Delete</a>
            </td>
        </tr>
    }
</table>

